<aside>
  <% if (locals.user) { %>
  <form action="/folder" method="post" enctype="multipart/form-data">
    <section>
      <label for="file">Upload File</label>
      <input type="file" name="file" id="file">
    </section>
    <button type="submit">Upload File</button>
  </form>
  <form action="/folder/create" method="post">
    <section>
      <label for="folderName"></label>
    </section>
  </form>
  <% } %>
</aside>