<aside>
  <% if (locals.user) { %>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <section>
      <label for="file">Upload File</label>
      <input type="file" name="file" id="file">
    </section>
    <button type="submit">Upload File</button>
  </form>
  <% } %>
</aside>