<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (!locals.user) { %>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/signin">Sign In</a></li>
      <% } else { %>
      <li>Username: <%= locals.user.username %></li>
      <li><a href="/folder">Folders</a></li>
      <li><a href="/logout">Log Out</a></li>
      <% } %>
    </ul>
  </nav>
</header>